<h1>{{ title }}</h1>

<lib-card-list
  [columnDefinitions]="defaultColDefs"
  [columnTemplateContexts]="columnTemplateContext$|async"
></lib-card-list>

<ng-container *libProvidePropertyDefValue="let sourceItem; uid: 'columnId'">
  {{ sourceItem.columnId }}
</ng-container>
<ng-template libProvidePropertyDefValue [libProvidePropertyDefValueUid]="'someField'" let-sourceItem>
  {{ sourceItem.someField }}
  <p>hello</p>
</ng-template>
<ng-container *libProvidePropertyDefValue="let sourceItem uid 'title'">
  {{ sourceItem.title }} 77
</ng-container>

<!--<ng-template libProvidePropertyDefValue [libProvidePropertyDefValueUid]="'columnId'" let-sourceItem>-->
<!--  {{ sourceItem.columnId }}-->
<!--</ng-template>-->
<!--<ng-template libProvidePropertyDefValue [libProvidePropertyDefValueUid]="'title'" let-sourceItem>-->
<!--  {{ sourceItem.title }}-->
<!--  <p>1223</p>-->
<!--</ng-template>-->
<!--<ng-container *libProvidePropertyDefValue="let sourceItem; uid: 'someField'">-->
<!--  {{ sourceItem.someField }}-->
<!--  <p>hello</p>-->
<!--</ng-container>-->
